/.ipynb_checkpoints/*
/.vscode/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
/originalDataset/*.jpg
/originalGrayDataset/*.jpg
/augmentedDataset/*.jpg
/normalizedGrayDataset/*.jpg
/normalizedAugmentedDataset/*.jpg
/averageGrayDataset/*.jpg
/averageAugmentedDataset/*.jpg
/averageNormalizedGrayDataset/*.jpg
/averageNormalizedAugmentedDataset/*.jpg
/thresholdOtsu/*.jpg
/thresholdYen/*.jpg
/bboxManual/*.jpg